$primaryColor: #040C18;
$secondaryColor: #042C54;
$footerColor: #031B34;

$primaryFontColor: #FFF;
$secondaryFontColor: #b3cfeb;
$altFontColor: #FF8A71;
$fontGradient: linear-gradient(90deg, #AE67FA 1.84%, #F49867 102.67%);

$btnColor: #FF4820;

$xSmallText: 1.1em;
$smallText: 1.3em;
$mediumText: 1.8em;
$largeText: 2.4em;
$xLargeText: 3.2em;
