.gpt3 {
    padding-top: 2rem;
    position: relative;

    &::before {
        @include blur(0, unset, unset, 0, 15, #1B78DE);
    }

    &::after {
        @include blur(unset, 0, 0, unset, 15, #1B78DE);
    }

    .gpt3__content {
        background-color: $secondaryColor;
        padding: 4rem;

        .feature {
            flex: 1;
        }
    
        .heading {
            margin: 6rem 0;
        }
    
        .features__wrapper {
            @include flexbox(row, stretch, start);
            gap: 2rem;
            flex-wrap: wrap;
        }
    }

    @media screen and (max-width: 1024px) {
        .gpt3__content {
            padding: 1rem;

            .heading {
                margin: 2rem;
            }
    
            .features__wrapper {
                .feature {
                    margin-top: 2rem;
                }
            }
        }
    }
}
