.home {
    @include flexbox;
    padding-top: 6rem;
    position: relative;

    .home__content {
        margin-right: 2rem;
        flex: 1;

        .home__content__form {
            @include flexbox(row, stretch, start);

            input {
                background-color: #052D56;
                color: $secondaryFontColor;
                border: none;
                border-radius: 6px 0 0 6px;
                flex: 1;
                font-size: $smallText;
                padding: 1.5rem;
            }

            button {
                border-radius: 0 6px 6px 0;
                padding: 0 1.6em;
            }
        }

        .home__content__signup {
            margin: 2rem 0;
            @include flexbox(row, center, start);

            .signup__image {
                height: 2.4em;
            }

            .signup__caption {
                font-size: $xSmallText;
                margin: 0 1rem;
            }
        }
    }

    .home__illustration {
        flex: 1;
        position: relative;

        .blur {
            @include blur(100%, 0, 20);
        }

        img {
            width: 100%;
            height: 100%;
        }

        &::before {
            @include blur(unset, 0, 0, unset, 20, #002853);
        }
    }

    &::before {
        @include blur(-10%, unset, unset, -10%, 40, #002853);
    }

    @media screen and (max-width: 1024px) {
        flex-direction: column-reverse;
        padding-top: 4rem;

        .home__content {
            margin: 0;
            text-align: center;
        }

        .home__illustration {
            width: 75%;
        }
    }
}
