.possibility {
    @include flexbox;
    padding-top: 4rem;

    .possibility__illustration {
        flex: 1;
        margin: 0 3vw;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .possibility__content {
        flex: 1.3;
        margin: 0 3vw;
    }

    @media screen and (max-width: 1024px) {
        flex-direction: column;

        .possibility__illustration {
            width: 70%;
        }

        .possibility__content {
            text-align: center;
            margin: 2rem 0;
        }
    }
}