.access {
    padding: 6rem 1rem;
    text-align: center;
    background: $footerColor;

    .access__heading {
        font-size: $largeText;
    }

    .access__btn {
        margin-top: 2rem;
        padding: 1em;
    }
}
